.event {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    margin: 5px  10px; 
    background-color: greenyellow;
    cursor: pointer;
}

.event__title {
    margin:0 auto 0 auto;
    text-align: center;
}

.event__time {
    margin: 0;
    visibility: hidden;
}

.event__time_visible {
    visibility: visible;
}

.event_active {
    border: 2px solid black;
}
