.calendar {
    position: relative;
}

.calendar__nav {
    display: flex;
}

.calendar__month-active {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.months-menu {
    width: inherit;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
    top: 50px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.months-menu_visible {
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
}

.calendar__month {
    margin: 0;
    font-size: medium;
    list-style: none;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.calendar__month:hover {
    cursor: pointer;
    font-weight: 500;
}

.calendar__month:last-of-type {
    margin-bottom: 5px;
}