.header {
    width: 100%;
    border-bottom: 2px solid rgb(68, 68, 68);
    padding-bottom: 20px;
    padding-top: 20px;
}

.header__title {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.04em;
}